name: Test and coverage

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Run coverage
        run: |
          for mod in $(find . -name 'go.mod' -not -path './.git/*'); do
            dir=$(dirname "$mod")
            echo "Testing $dir"
            (cd "$dir" && go test -race -coverprofile="coverage.txt" -covermode=atomic "./...")
          done
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: dnsoa/go     
          fail_ci_if_error: false # optional (default = false)
          # files: ./i18n/coverage.txt",./assert/coverage.txt" # optiona